.parent{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child{
    border: 1px solid black;
    margin: 2px;
    padding: 2px 4px;
    border-radius: 10px;
}